# 버전 관리
.git
.gitignore
.github

# 빌드 결과물
.next
**/node_modules
**/dist

# 로컬 개발 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
.env

# IDE 설정
.vscode
.idea

# 기타
README.md
**/README.md
.DS_Store
**/.DS_Store
